@import "tailwindcss";

@config "../tailwind.config.ts";

:root {
  --foreground-rgb: 238, 243, 248;
  --background-start-rgb: 11, 17, 26;
  --background-end-rgb: 11, 17, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0B111A;
  font-family: var(--font-lato), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

